
.faq .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.faq .faq-item i {
  color: #8bc4ea;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.faq .faq-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 32px;
  font-family: "Poppins", sans-serif;
}

.faq .faq-item p {
  font-size: 15px;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
  }
  
  .section-title h2::before, .section-title h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
  }
  
  .section-title h2::before {
    margin: 0 15px 10px 0;
  }
  
  .section-title h2::after {
    margin: 0 0 10px 15px;
  }
  
  .section-title p {
    margin: 15px 0 0 0;
  }